<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container"><a class="navbar-brand" href="/">
        <svg id="logo">
            <use href="/static/logo.svg#RGBreaterLogo"/>
        </svg>
    </a></div>
</nav>